@import "tailwindcss";

@font-face {
  font-family: "GTA Regular";
  src: url(/fonts/gta-regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GTA SemiBold";
  src: url(/fonts/gta-semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GTA Bold";
  src: url(/fonts/gta-bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GTA Narrow";
  src: url(/fonts/gta-narrow.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GTA SemiBold", system-ui;
  background: #111;
  color: #fff;
  height: 300vh;
  overflow-x: hidden;
  overscroll-behavior: none;
}

#sidebar div {
  font-family: "GTA Narrow", system-ui;
}

@keyframes bounceScale {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.8;
    scale: 0.8;
  }
  50% {
    transform: translateY(-5px);
    opacity: 1;
    scale: 1;
  }
}

/* Scrollbar styles for all scrollable elements */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  display: none; /* Oculta el track */
}

*::-webkit-scrollbar-thumb {
  background-color: #888; /* Color sólido para el thumb */
  border-radius: 4px;
}

#logo-mask {
  background: white;
  mask-image: url("../assets/logo-stack.svg");
  mask-position: 47% 42%;
  mask-repeat: no-repeat;
  mask-size: clamp(5000vh, 3500%, 0vh);
}

.line {
  position: absolute;
  left: 50%;
  width: 1.75rem;
  height: 6px;
  transform: translateX(-50%);
  background: #fff;
  transition: all 0.3s;
  transform-origin: center;
}

.menu-open {
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.05);
  transition: all 500ms;
}

.menu-open:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: all 500ms;
}

.selected {
  background: white;
  border-radius: 1000px;
  color: black;
}

#menu-button:hover {
  color: red !important;
}
.menu-sidebar-closed {
  transform: translateX(200%);
}
.menu-sidebar-open {
  /* display: none; */
}

.sidebar-blur {
  backdrop-filter: blur(150px) brightness(1.25) saturate(2.5);
}

.tab-button {
  font-family: "GTA SemiBold", system-ui;
  height: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
}

.background-gradient {
  background: linear-gradient(
    223.17deg,
    #1c1829,
    #1b1828 8.61%,
    #191724 17.21%,
    #161520 25.82%,
    #14131c 34.42%,
    #121218 43.03%,
    #111117 51.63%
  );
}

.menu-closed .top-line {
  top: 30%;
  transform: translateX(-50%) rotate(0deg);
  width: 28px;
  height: 6px;
}

.menu-closed .bottom-line {
  bottom: 30%;
  transform: translateX(-50%) rotate(0deg);
  width: 28px;
  height: 6px;
}

.menu-open .top-line {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 15px;
  height: 3px;
  transition: all 0.5s;
}

.menu-open .bottom-line {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
  height: 3px;
  transition: all 0.5s;
}
