---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
import HeroKeyLogo from "@/assets/hero-key-logo.webp";
import HeroKeyBackground from "@/assets/hero-key-background.webp";
import PlayButtonIcon from "@/assets/play-button.svg";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import HeroSection from "@/components/HeroSection.astro";
---

<Layout>
  <HeroSection />

  <div class="fixed flex flex-col justify-between items-center h-screen w-full">
    <Header />

    <button class="m-auto cursor-pointer inline-block">
      <PlayButtonIcon
        class="size-26 backdrop-blur-lg mb-25 rounded-full hover:scale-110 transition-transform duration-500"
        id="hero-play-button"
      />
    </button>

    <Footer />
  </div>
</Layout>
