---
const { isOpen = false } = Astro.props;
---

<div class="relative size-12 group cursor-pointer z-40 menu-closed" id="menu-button">
  <div class="line top-line"></div>
  <div class="line bottom-line"></div>
</div>
